 /*
    Color scheme for this website:
 --mint-green: #cdf7f6ff;
--tickle-me-pink: #f08caeff;
--jade: #00a676ff;
--ultra-violet: #63458aff;
--icterine: #f2f230ff;
  */
body {
    font-size: 1em;
font-weight: normal;
font-family: Arial, Sans-serif;
color: #000000;
text-align: left;
border-width: 5px;
    border-style: solid;
}
h1,h2,h3{
  font-family: Verdana, sans-serif;
  border: 1px dashed black;
}
h1 { font-size: 1.8em;
font-weight: bold;
color: #9F6BA0;
text-align: center;
}
h2 {
font-size: 1.6em;
}
div {
background-color:#f08caeff;
padding: 1em;
}
p {
border-bottom: 1px solid pink;
border-color: purple;border-width: 5px;
    border-style: dotted;
}
ul {
  background-color: pink;
}
li{
  margin: 0;
}
#skipnav {
  width:10em
}
.info{
  width:40%;
  font-size: 1.2em;
}
#overview {
  font-weight: bold;
}
.temp {
  font-style:italic
}
